---
Title: Cake Issues
NoSidebar: true
NoContainer: true
NoGutter: true
---

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Cake Issues</h1>
        <p>
            Issue Management for the Cake Build System<br/>
        </p>
        <a class="btn btn-primary btn-lg" href="docs" role="button">Learn more</a>
        <a class="btn btn-primary btn-lg" href="addins" role="button">Addins</a>
        <a class="btn btn-primary btn-lg" href="dsl" role="button">Aliases</a>
    </div>
</div>

<div class="container text-center">
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart logo-small"></span>
            <h3 class="no-anchor">Open-Source</h3>
            <p>
                Cake Issues is free to use, improve, contribute and distribute.
                Source code is available on <a href="https://github.com/search?q=topic%3Acake-issues&type=Repositories">GitHub</a> under MIT license.
            </p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-globe logo-small"></span>
            <h3 class="no-anchor">Rich ecosystem</h3>
            <p>
                Unlike other Cake addins, Cake Issues consists of over 10 different <a href="addins">addins</a>,
                working together and providing you with over 75 <a href="dsl">aliases</a> which you can use in your Cake
                build scripts to work with issues.
            </p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h3 class="no-anchor">Supports your tooling</h3>
            <p>
                Read issues from different analyzers, linters or tools.
                The growing range of out-of-the-box supported tools include
                <a href="docs/issue-providers/msbuild">MSBuild</a>,
                <a href="docs/issue-providers/inspectcode">JetBrains InspectCode (ReSharper)</a>,
                <a href="docs/issue-providers/eslint">ESLint</a>,
                <a href="docs/issue-providers/markdownlint">Markdownlint</a>,
                <a href="docs/issue-providers/docfx">DocFX</a>.
            </p>
        </div>
    </div>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-dashboard logo-small"></span>
            <h3 class="no-anchor">Reporting</h3>
            <p>
                Cake Issues provides aliases to create reports from the parsed issues.
                There's a <a href="docs/report-formats/generic/">generic reporting addin</a> which allows to create reports using out-of-the-box or custom Razor templates.
            </p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-eye-open logo-small"></span>
            <h3 class="no-anchor">Pull request and build workflow integration</h3>
            <p>
                Issues found on a feature branch can be reported to pull requests or build runs giving developers instant and direct feedback.
                There's support for <a href="docs/pull-request-systems/azure-devops/">Azure DevOps</a> or
                <a href="docs/pull-request-systems/appveyor/">AppVeyor</a>.
            </p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-th-large logo-small"></span>
            <h3 class="no-anchor">Extensible</h3>
            <p>
                The addins are built in a modular architecture and are providing different <a href="docs/extending">extension points</a>
                which allow you to easily enhance it for supporting additional analyzers, linters, report formats and pull request systems.
            </p>
        </div>
    </div>
</div>