---
Title: Cake Issues
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">
	<h2>What is it?</h2>
    <p>
        Do you want to break your build on JetBrains InspectCode issues?
        Do you want to create nice reports for StyleCop issues in your code?
        Do you want to have ESLint issues reported as comments to pull requests?
        The Issues addins for <a href="http://cakebuild.net/" target="_blank">Cake</a> allows you to do this and much more.
        Read issues from different analyzer or linters, create reports or add them as comments to pull requests.
    </p>
	<h2>Architecture</h2>
    <p>
        Unlike other Cake addins, the Cake Issues addin consists of over 10 different <a href="addins">addins</a>,
        working together and providing you with over 50 <a href="dsl">aliases</a> which you can use in your Cake
        build scripts to work with issues.<br/>
        The addins are built in a modular architecture and are providing different <a href="docs/extending">extension points</a>
        which allow you to easily enhance it for supporting additional analyzers, linters, report formats
        and code review systems.
    </p>
    <p>
        <img style="display:block; margin: 0 auto" src="overview.png" />
    </p>
	<h2>More information</h2>
    <p>
        See <a href="docs">Documentation</a> for basic concepts and usage instructions.
    </p>
    <p>
        See <a href="addins">Addins</a> for a list of supported issue providers, report formats and pull request systems
        and <a href="dsl">Reference</a> for a list of aliases provided by these addins.
    </p>
</div>