---
Title: Cake Issues
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        The Issues addins for <a href="http://cakebuild.net/">Cake</a> allows
        you to read issues from different analyzer or linters, create reports
        or add them as comments to pull requests.
    </p>
    <p>
        The addins are built in a modular architecture, allowing to easily enhance it for supporting
        additional analyzers, linters, report formats and code review systems.
    </p>
    <p>
        <img style="display:block; margin: 0 auto" src="overview.png" />
    </p>
    <p>
        See <a href="docs">Documentation</a> for basic concepts and usage instructions.
    </p>
    <p>
        See <a href="addins">Addins</a> for a list of supported issue providers, report formats and pull request systems
        and <a href="dsl">Reference</a> for a list of aliases provided by these addins.
    </p>
</div>