---
Order: 20
Description: How to create reports using Cake.Issues.Reporting.
---
<p>@Html.Raw(Model.String(DocsKeys.Description))</p>

<p>
    For report format specific examples see <a href="../../report-formats/">Report Format Examples</a>.
</p>

@Html.Partial("_ChildPages")