---
Title: InspectCode
Description: Issue provider which allows you to read issues logged by JetBrains Inspect Code.
---
<p>@Html.Raw(Model.String(DocsKeys.Description))</p>

<p>
    Support for reading issues reported by <a href="https://www.jetbrains.com/help/resharper/2017.1/InspectCode.html" target="_blank">JetBrains Inspect Code</a>
    is implemented in the <a href="https://www.nuget.org/packages/Cake.Issues.InspectCode" target="_blank">Cake.Issues.InspectCode addin</a>.
</p>

@Html.Partial("_ChildPages")