---
Title: HTML
Description: Report format to create HTML reports.
---
<p>@Html.Raw(Model.String(DocsKeys.Description))</p>

<p>
    Support for creating HTML reports is implemented in the
    <a href="https://www.nuget.org/packages/Cake.Issues.Reporting.Html" target="_blank">Cake.Issues.Reporting.Html addin</a>.
</p>

@Html.Partial("_ChildPages")