---
Order: 30
Description: Release notes for the Cake Issues core addins.
---

<p>
    For addin release notes see <a href="../../issue-providers/">Issue Providers</a>,
    <a href="../../report-formats/">Report Formats</a> and <a href="../../pull-request-systems/">Pull Request Systems</a>.
</p>

@Html.Partial("_ChildPages")