---
Order: 30
Description: How to report issues to pull requests using Cake.Issues.PullRequests.
---
<p>@Html.Raw(Model.String(DocsKeys.Description))</p>

<p>
    For pull request system specific examples see <a href="../../pull-request-systems/">Pull Request System Examples</a>.
</p>

@Html.Partial("_ChildPages")