---
Title: Terraform
Description: Issue provider which allows you to read issues from Terraform validate command.
---
<p>@Html.Raw(Model.String(DocsKeys.Description))</p>

<p>
    Support for reading issues reported by <a href="https://www.terraform.io/docs/cli/commands/validate.html" target="_blank">Terraform validate command</a>
    is implemented in the <a href="https://cakebuild.net/extensions/cake-issues-terraform/" target="_blank">Cake.Issues.Terraform addin</a>.
</p>

@Html.Partial("_ChildPages")