---
Title: Git Repository
Description: Issue provider which allows you to analyzing Git repositories and create issues resulting from it.
---
<p>@Html.Raw(Model.String(DocsKeys.Description))</p>

<p>
    Support for analyzing Git repositories is implemented in the <a href="https://www.nuget.org/packages/Cake.Issues.GitRepository" target="_blank">Cake.Issues.GitRepository addin</a>.
</p>

@Html.Partial("_ChildPages")