---
Title: Generic
Description: Report format to create reports in any text based format (HTML, Markdown, ...).
---
<p>@Html.Raw(Model.String(DocsKeys.Description))</p>

<p>
    Support for creating reports in any text based format like HTML or Markdown is implemented in the
    <a href="https://www.nuget.org/packages/Cake.Issues.Reporting.Generic" target="_blank">Cake.Issues.Reporting.Generic addin</a>.
</p>

@Html.Partial("_ChildPages")