<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cake.Core" version="0.28.0" targetFramework="net461" />
  <package id="Cake.Issues" version="0.6.0" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.6.1" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.6.1" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.6.1" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.6.1" targetFramework="net461" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net46" developmentDependency="true" />
  <package id="Text.Analyzers" version="2.6.1" targetFramework="net461" developmentDependency="true" />
</packages>