---
Title: Console
Description: Report format to print issues to the console.
---
<p>@Html.Raw(Model.String(DocsKeys.Description))</p>

<p>
    Support for printing issues to the console is implemented in the
    <a href="https://www.nuget.org/packages/Cake.Issues.Reporting.Console" target="_blank">Cake.Issues.Reporting.Console addin</a>.
</p>

@Html.Partial("_ChildPages")