---
Title: ESLint
Description: Issue provider which allows you to read issues logged by ESLint.
---
<p>@Html.Raw(Model.String(DocsKeys.Description))</p>

<p>
    Support for reading issues reported by <a href="http://eslint.org/" target="_blank">ESLint</a>
    is implemented in the <a href="https://www.nuget.org/packages/Cake.Issues.EsLint" target="_blank">Cake.Issues.EsLint addin</a>.
</p>

@Html.Partial("_ChildPages")