---
Title: GitHub Actions
Description: Support for GitHub Actions.
---
<p>
    Support for GitHub Actions is implemented in the
    <a href="https://www.nuget.org/packages/Cake.Issues.PullRequests.GitHubActions" target="_blank">Cake.Issues.PullRequests.GitHubActions addin</a>.
</p>

@Html.Partial("_ChildPages")