---
Title: Sarif
Description: Report format to create SARIF compatible reports.
---
<p>@Html.Raw(Model.String(DocsKeys.Description))</p>

<p>
    Support for creating SARIF compatible reports is implemented in the
    <a href="https://www.nuget.org/packages/Cake.Issues.Reporting.Sarif" target="_blank">Cake.Issues.Reporting.Sarif addin</a>.
</p>

@Html.Partial("_ChildPages")