---
Title: markdownlint
Description: Issue provider which allows you to read issues logged by markdownlint.
---
<p>@Html.Raw(Model.String(DocsKeys.Description))</p>

<p>
    Support for reading issues reported by <a href="https://github.com/DavidAnson/markdownlint" target="_blank">markdownlint</a>
    is implemented in the <a href="https://www.nuget.org/packages/Cake.Issues.Markdownlint" target="_blank">Cake.Issues.Markdownlint addin</a>.
</p>

@Html.Partial("_ChildPages")