---
Title: AppVeyor
Description: Support for AppVeyor.
---
<p>
    Support for AppVeyor is implemented in the
    <a href="https://www.nuget.org/packages/Cake.Issues.PullRequests.AppVeyor" target="_blank">Cake.Issues.PullRequests.AppVeyor addin</a>.
</p>

@Html.Partial("_ChildPages")