---
Title: DocFx
Description: Issue provider which allows you to read warnings logged by DocFx.
---
<p>@Html.Raw(Model.String(DocsKeys.Description))</p>

<p>
    Support for reading warnings reported by <a href="https://dotnet.github.io/docfx/" target="_blank">DocFx</a>
    is implemented in the <a href="https://www.nuget.org/packages/Cake.Issues.DocFx" target="_blank">Cake.Issues.DocFx addin</a>.
</p>

@Html.Partial("_ChildPages")